*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
#mainimg{
    background-image: url(./i-am-the-lord-Recovered.jpg);
    text-align: center;
    height: 600px;
    width: 432px;
    background-size: cover;
    object-fit: cover;
    padding-top: 98px;
    padding-right: 20px;
}
p{
    color: black ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
}
#showimg{
    z-index: 1;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;

}
#conta{
    margin-left: 20px;
    margin-top: 20px;
}
#divdownload{
    background-color: #0076cd;
    color: white;
    border: none;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    width: 135px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#divdownload:hover{
    opacity: 0.9;
}
#newimg{
    object-fit: contain;
    width: 500px;
}
